/public/hot
/public/storage
/public/uploads/courses/*
/public/uploads/lectures/*
/public/uploads/main/*
/public/uploads/profile/*
/public/uploads/team/*

/storage/*.key

/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
